#A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of the data. Databases are used to store and manage vast amounts of information, ranging from simple lists to complex data structures.

#SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems (DBMS) that handle data storage and retrieval in different ways:


#SQL Databases:
#SQL databases are based on the relational model and use structured query language (SQL) for defining and manipulating the data. They are characterized by the following:

#Structure: SQL databases have a predefined schema that defines the structure of the data and the relationships between different tables.
#Tabular format: Data is organized into tables with rows and columns, and each table represents a specific entity or relationship.
#ACID properties: SQL databases generally provide ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring reliable transactions and data integrity.
#Predetermined schema: SQL databases require a predefined schema, which means the schema must be designed and defined before data can be stored.
#Examples: MySQL, PostgreSQL, Oracle, Microsoft SQL Server.

#NoSQL Databases:
#NoSQL databases are designed to handle unstructured, semi-structured, or evolving data, and they offer flexibility and scalability. They have the following characteristics:

#Dynamic schema: NoSQL databases do not require a predefined schema. They allow for flexible data models, allowing changes to the schema without affecting the existing data.
#Non-relational: Unlike SQL databases, NoSQL databases do not rely on a tabular structure. They can use various data models such as key-value, document, columnar, or graph.
#Scalability: NoSQL databases are designed to scale horizontally, meaning they can handle large amounts of data and high traffic loads by distributing the data across multiple servers.
#Eventual consistency: NoSQL databases often prioritize availability and partition tolerance over strict consistency, meaning there might be a delay for data to become consistent across all nodes.
#Examples: MongoDB, Cassandra, Redis, Couchbase

#DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and constraints.



#CREATE:
#The CREATE statement is used to create a new database object, such as a table or a view. It specifies the structure and properties of the object. For example:
CREATE TABLE Employees (
  ID INT PRIMARY KEY,
  Name VARCHAR(50),
  Age INT,
  Department VARCHAR(50)
);


#DROP:
#The DROP statement is used to remove an existing database object, such as a table or a view, from the database. It permanently deletes the object and its associated data. For example:
DROP TABLE Employees;

#ALTER:
#The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or other properties of the object. For example:
ALTER TABLE Employees
ADD COLUMN Salary DECIMAL(10, 2);


#TRUNCATE:
#The TRUNCATE statement is used to remove all the data from an existing table. It is similar to the DELETE statement but faster because it does not generate individual rollback logs for each row. For example:
TRUNCATE TABLE Employees;

#DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data within a database. DML statements are used to insert, update, and delete data in database tables.

#INSERT:
#The INSERT statement is used to add new rows of data into a table. It specifies the table name and the values to be inserted into each column. For example:
INSERT INTO Employees (ID, Name, Age, Department)
VALUES (1, 'John Doe', 30, 'Sales');


#UPDATE:
The UPDATE statement is used to modify existing data in a table. It specifies the table name, the columns to be updated, and the new values. You can also include a WHERE clause to specify which rows to update. For example:
UPDATE Employees
SET Department = 'Marketing'
WHERE ID = 1;


#DELETE:
The DELETE statement is used to remove one or more rows of data from a table. It specifies the table name and can also include a WHERE clause to specify the rows to be deleted. For example:
DELETE FROM Employees
WHERE Age > 40;

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are primarily focused on querying and fetching data without modifying the database structure or content.

The most commonly used DQL statement is SELECT, which allows you to retrieve data from one or more tables based on specified criteria. Here's an explanation of the SELECT statement with an example:

SELECT Name, Age, Department
FROM Employees
WHERE Department = 'Sales';

Primary Key: In a relational database, a primary key is a column or a combination of columns that uniquely identifies each row in a table. It ensures the uniqueness and integrity of the data. Primary keys must have the following properties:

Uniqueness: Each value in the primary key column(s) must be unique.
Non-null: Primary key values cannot be null or empty.
Immutable: Primary key values should not be changed once they are assigned.
For example, in a table of "Students," the "student_id" column can be designated as the primary key, ensuring that each student has a unique identifier.

Foreign Key: A foreign key is a column or a combination of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables, called a parent-child relationship. Foreign keys enforce referential integrity and maintain consistency between related tables. Foreign keys have the following characteristics:

Referencing: A foreign key column in one table references the primary key column(s) in another table.
Relationship: The foreign key represents a relationship between the two tables.
Cascading Actions: Foreign keys can specify actions like CASCADE, SET NULL, or SET DEFAULT to define the behavior when the referenced row is updated or deleted.
For example, in a "Orders" table, there could be a foreign key "customer_id" that references the primary key "customer_id" in the "Customers" table, establishing a relationship between orders and customers.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)