In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

In [8]:
#A DataFrame in pandas is a 2-dimensional labeled data structure with columns of potentially different types. 
#It can be thought of as a table or spreadsheet-like data structure, similar to a SQL table or Excel sheet.
#It allows you to store and manipulate data in a tabular form.

#The main difference between a Pandas Series and a DataFrame is the dimensionality.
#A Series is a one-dimensional labeled array that can hold data of any type. It has only one column and an index associated with each element. 
#On the other hand, a DataFrame is a two-dimensional structure with both rows and columns.
#It is a collection of Series, where each Series represents a column of data.

#For example, consider a dataset of student information. 
#Each row represents a student, and each column represents an attribute like name, age, and grade. 
#In this case, a DataFrame would be suitable to represent the entire dataset, with each column as a Series containing the values of a specific attribute.

In [9]:
#Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

#head() and tail(): These functions allow you to view the first or last n rows of the DataFrame, respectively. 
#They are useful for inspecting the structure and content of the DataFrame.

#info(): This function provides a summary of the DataFrame, including the column names, data types, and memory usage.
#It's helpful for getting an overview of the DataFrame's structure.

#describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, min, max, etc.

#sort_values(): This function allows you to sort the DataFrame by one or more columns in either ascending or descending order.

#groupby(): This function is used for grouping the DataFrame based on one or more columns and applying aggregate functions on the grouped data.

In [10]:
#In Pandas, a Series is mutable in nature, which means its elements can be modified. On the other hand, 
#a DataFrame is also mutable, allowing modifications to both the row and column values.

#For example, you can modify a value in a Series by its index:

series = pd.Series([1, 2, 3])
series[1] = 5  # Modify the second element to 5

In [11]:
series

0    1
1    5
2    3
dtype: int64

In [12]:
import pandas as pd

name = pd.Series(['Alice', 'Bob', 'Charlie'])
age = pd.Series([25, 30, 35])
city = pd.Series(['New York', 'London', 'Paris'])

data = {'Name': name, 'Age': age, 'City': city}
df = pd.DataFrame(data)

print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris