In [1]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

In [2]:
#q1
second_row_data = df.iloc[1]
print("Data in the second row:")
print(second_row_data)

Data in the second row:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [3]:
#q2
# - `loc` is label-based indexing, which means you use the row and column labels to access data.
# - `iloc` is integer-based indexing, which means you use integer positions to access data.

In [6]:
#q3
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

# Find the output for both new_df.loc[2] and new_df.iloc[2].
output_loc = new_df.loc[2]
output_iloc = new_df.iloc[2]

print("\nData at index 2 using loc:")
print(output_loc)

print("\nData at index 2 using iloc:")
print(output_iloc)

Data at index 2 using loc:
course_name    Big Data
duration              6
Name: 2, dtype: object

Data at index 2 using iloc:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
#Yes, there is a difference in the outputs when using new_df.loc[2] and new_df.iloc[2]. Let me explain:

#Assuming you have reindexed the DataFrame df using the reindex list as shown in your code:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

#The original DataFrame df looked like this:
      course_name  duration
0     Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

#After reindexing, the new_df DataFrame looks like this:
      course_name  duration
3     Data Engineer         4
0     Data Science         2
1  Machine Learning         3
2          Big Data         6

In [7]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [8]:
#q4
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a DataFrame
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# (i) Mean of each column
mean_per_column = df1.mean()
print("Mean of each column:\n", mean_per_column)

# (ii) Standard deviation of column 'column_2'
std_column_2 = df1['column_2'].std()
print("\nStandard deviation of column 'column_2':", std_column_2)

Mean of each column:
 column_1    0.573370
column_2    0.458730
column_3    0.490677
column_4    0.545308
column_5    0.740842
column_6    0.373713
dtype: float64

Standard deviation of column 'column_2': 0.2852252602423442

In [9]:
#q5
# Replace the data in the second row of 'column_2' with a string
df1.loc[2, 'column_2'] = 'string_data'

# Find the mean of 'column_2'
try:
    mean_column_2 = df1['column_2'].mean()
    print("\nMean of 'column_2':", mean_column_2)
except TypeError as e:
    print("\nError:", e)

Error: unsupported operand type(s) for +: 'float' and 'str'

In [10]:
#q6
#In pandas, windows functions are used for performing operations over a specified window of data points.
#They are often used for tasks like rolling calculations, moving averages, and other time-series analysis. 
#Windows functions have a "window" or "rolling" view over the data to compute aggregated statistics.

#Types of windows functions include:

#Rolling Functions: These functions compute an operation over a fixed-size "rolling window" of data points.
#Expanding Functions: These functions calculate an operation over a continuously expanding window of data.
#Exponential Moving Average (EMA): A type of weighted moving average where more weight is given to recent data points.
#Window Aggregations: Functions like .sum(), .mean(), .std(), etc., can be applied over a specified window.

In [11]:
#q7
import pandas as pd

# Get the current date
current_date = pd.Timestamp.now()

# Print the current month and year
print("Current month and year:", current_date.strftime('%B %Y'))

Current month and year: August 2023

In [12]:
#q8
import pandas as pd

# Function to calculate the difference between two dates
def calculate_time_difference(date1, date2):
    try:
        # Convert input strings to datetime objects
        date1 = pd.to_datetime(date1)
        date2 = pd.to_datetime(date2)

        # Calculate the time difference
        time_diff = date2 - date1

        # Extract days, hours, and minutes from the time difference
        days = time_diff.days
        hours = time_diff.seconds // 3600
        minutes = (time_diff.seconds // 60) % 60

        return days, hours, minutes

    except ValueError:
        return None

# Input dates from the user
date_str1 = input("Enter the first date (YYYY-MM-DD): ")
date_str2 = input("Enter the second date (YYYY-MM-DD): ")

# Calculate time difference
time_difference = calculate_time_difference(date_str1, date_str2)

if time_difference is not None:
    days, hours, minutes = time_difference
    print("Time difference:")
    print(f"{days} days, {hours} hours, {minutes} minutes")
else:
    print("Invalid date format. Please use the format YYYY-MM-DD.")

Enter the first date (YYYY-MM-DD):  12-08-2000
Enter the second date (YYYY-MM-DD):  12-08-2023

Time difference:
8400 days, 0 hours, 0 minutes

In [ ]:
#q9
import pandas as pd

# Read CSV file
file_path = input("Enter the file path of the CSV file: ")
df = pd.read_csv(file_path)

# Prompt user for column name and category order
column_name = input("Enter the name of the column to convert to categorical: ")
category_order = input("Enter the category order (comma-separated values): ").split(',')

# Convert specified column to categorical
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Display sorted data
sorted_data = df.sort_values(by=[column_name])
print(sorted_data

In [ ]:
#q10
import pandas as pd
import matplotlib.pyplot as plt

# Read CSV file
file_path = input("Enter the file path of the CSV file: ")
df = pd.read_csv(file_path)

# Assume CSV columns: 'Date', 'ProductCategory', 'Sales'
df['Date'] = pd.to_datetime(df['Date'])

# Pivot data for stacked bar chart
pivot_df = df.pivot(index='Date', columns='ProductCategory', values='Sales')

# Plot stacked bar chart
pivot_df.plot(kind='bar', stacked=True)
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales of Each Product Category Over Time')
plt.show()

In [ ]:
#q11
import pandas as pd
from statistics import mean, median, mode
from tabulate import tabulate

# Read CSV file
file_path = input("Enter the file path of the CSV file: ")
df = pd.read_csv(file_path)

# Calculate statistics
test_scores = df['Test Score']
mean_score = mean(test_scores)
median_score = median(test_scores)
mode_score = mode(test_scores)

# Create table
table = [["Mean", mean_score], ["Median", median_score], ["Mode", mode_score]]

# Display results
print(tabulate(table, headers=["Statistic", "Value"]))